<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Meu Portfólio</h1>
    </header>
    <section>
        <h2>Sobre Mim</h2>
        <p>Sou uma entusiasta do design desde os treze anos de idade e há pouco tempo (desde o ano de 2021) venho me apaixonando também pela programação, comecei minha jornada profissional com uma paixão pela criação de conteúdos digitais através das ferramentas Photoshop e CorelDRAW, no lugar onde trabalhei por quase dois anos. Neste mesmo lugar, fui instigada a iniciar em um rota até então desconhecida para mim, a área da TI, visto que sempre fui muito interessada em conhecer coisas novas. Atualmente iniciei o quarto semestre de Análise e Desenvolvimento de Sistemas na Unisenac - Pelotas. Sou uma profissional proativa, comunicativa, gosto muito de trabalhar em equipe, me adapto facilmente aos mais diversos ambientes e amo fazer parte de um time que me proporciona aprendizado contínuo.</p>
    </section>
    <section>
        <h2>Experiência de mercado</h2>
        <ul>
            <li>Estagiária Machine Learning com AWS - Atualmente</li>
            <li>Diretora de marketing - Atualmente</li>
            <li>Analista de Relacionamento (2023-2024)</li>
            <li>Produtor de conteúdo online(2020-2022)</li>
            <li>Designer gráfico autônoma (2020-2022)</li>
        </ul>
    </section>
    <footer>
        <p>Contato: nataliabrandao688@gmail.com</p>
    </footer>
</body>
</html>
